/* You can add global styles to this file, and also import other style files */

.min-width-30{
  min-width: 30rem!important;
}
.min-width-15{
  min-width: 15rem!important;
}
.profile-pic-full{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.logo{
  width: 375px;
  height: 83px;
}
.logo-footer{
  width: 300px;
  height: 160px;
}
.w-35{
  width: 35%;
}
.w-20{
  width: 20%;
}
.mt-10{
  margin-top: 6rem;
}
.btn-nc{
  background-color: #0275b1;
  color: white;
}
.btn-nc:hover {
  background-color: #005793;
  color: white;
}
.bg-nc-trans{
  background: radial-gradient( rgba(46,89,112,0.85), rgba(36,79,102,0.9));
  backdrop-filter: blur(8px);
  color: white;
}
.bg-nc-trans-hover{
  transition-duration: 0.25s;
}
.bg-nc-trans-hover:hover{
  transition-duration: 0.25s;
  background-color: rgba(86,129,152,0.85);
}
.bg-nc-gray{
  background-color: #f2f5f9;
}

.shadowed {
  -webkit-filter: drop-shadow(0px 3px 4px #222);
  filter: drop-shadow(0px 3px 4px #222);
}
.dropdown-shadow{
  box-shadow: 6px 6px 6px 6px rgba(15,15,15,0.6);
}
.text-shadow-black{
  text-shadow: 2px 2px 3px rgba(15,15,15,0.6);
}
.text-shadow-gray{
  text-shadow: 2px 2px 3px rgba(25,25,25,0.4);
}
.break-word{
  word-break: break-word;
}
.bg-nc{
  background-color: #0275b1;
  color: white;
}
.color-nc{
  color: #0275b1;
}
.font-05{
  font-size: 0.5rem;
}
body{
  background-color: #f7f9fb;
}
.pointer{
  cursor: pointer
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
