<div class="w-25 mx-auto mt-5 bg-nc text-center rounded border border-dark" *ngIf="changed">
  <h4> Password has been successfully changed </h4>
</div>
<div class="row mx-auto mt-10 w-20">
  <div class="col align-items-center">
    <h3 class="text-center">Sign in</h3>
    <p *ngIf="wrongUsernamePassword" class="text-center text-danger font-italic font-weight-bold">Wrong Username or Password</p>
    <form [formGroup]="form">
      <div class="form-group mt-4 rounded border border-secondary">
        <div class="input-group">
          <div class="input-group-prepend align-items-center px-1 py-1">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
          </div>
          <input class="form-control" id="username" formControlName="username" placeholder="Username" type="text"
                 required minlength="4">
        </div>
      </div>
      <div class="form-group rounded border border-secondary">
        <div class="input-group">
          <div class="input-group-prepend align-items-center px-1 py-1">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
              <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
            </svg>
          </div>
          <input class="form-control" id="password" formControlName="password" placeholder="Password" type="password"
                 required minlength="4">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-nc btn-block font-weight-bolder py-2" id="submit" (click)="login()"> Login </button>
      </div>
      <p class="text-center font-italic font-weight-bold"><a class="card-link" routerLink="/password/email">Forgot password?</a></p>
    </form>
  </div>
</div>
