<div class="row mx-auto mt-10 w-20">
  <div class="col align-items-center">
    <h3 class="text-center">Reset Password</h3>
    <form [formGroup]="form">
      <div class="form-group mt-4 rounded border border-secondary">
        <div class="input-group">
          <div class="input-group-prepend align-items-center px-1 py-1">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
            </svg>
          </div>
          <input class="form-control" id="email" formControlName="email" placeholder="Email" type="email" required email>
        </div>
      </div>
      <p *ngIf="form.controls.email.errors?.required && submitTouched" class="text-center text-danger font-weight-bold">Email field can't be blank</p>
      <p *ngIf="form.controls.email.errors?.email && submitTouched" class="text-center text-danger font-weight-bold">Field must be an Email</p>
      <p class="text-center font-italic font-weight-bold"><a class="card-link" routerLink="/login">Sign In</a></p>
      <div class="form-group">
        <button type="submit" class="btn bg-nc btn-block font-weight-bolder py-2" id="submit" (click)="sendCode(); setTouched()"> Send Code </button>
      </div>
    </form>
  </div>
</div>
