<div class="row">
  <div class="col-8">
    <div class="bg-white shadow-lg p-5">
      <p>{{testCase.name}}</p>
      <p>{{testCase.description}}</p>
      <p>{{testCase.starter}}</p>
      <hr class="mx-3">
      <table mat-table [dataSource]="dataSource" class="shadow-lg w-100">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="pl-4 border-right">
            <h5>Name</h5>
          </th>
          <td mat-cell *matCellDef="let action" class="pl-4 border-right">
            {{action.action.name}}
          </td>
        </ng-container>


        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef class="pl-4 border-right">
            <h5>Key</h5>
          </th>
          <td mat-cell *matCellDef="let action" class="pl-4 border-right">
            {{action.parameterKey.key}}
          </td>
        </ng-container>


        <ng-container matColumnDef="dataset">
          <th mat-header-cell *matHeaderCellDef class="pl-4 border-right">
            <h5>Dataset</h5>
          </th>
          <td mat-cell *matCellDef="let action" class="pl-4 border-right">
            {{action.dataset}}
          </td>
        </ng-container>


        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef class="pl-4">
            <h5>Value</h5>
          </th>
          <td mat-cell *matCellDef="let action" class="pl-4">
            {{action.value}}
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
