<div *ngIf="errorMessage !== ''" class="alert alert-danger alert-dismissible fade show" role="alert">
  {{errorMessage}}
  <button (click)="closeErrorAlert()" aria-label="Close" class="close" data-dismiss="alert" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="okMessage !== ''" class="alert alert-success alert-dismissible fade show" role="alert">
  {{okMessage}}
  <button (click)="closeOkAlert()" aria-label="Close" class="close" data-dismiss="alert" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="!editing && !creation">
  <form [formGroup]="actionTableForm" name="actionTableForm">
    <div class="bg-white mat-elevation-z8">
      <div class="row">
        <div class="col-md-9">
          <h4 class="p-0 header m-3">List of actions</h4>
        </div>
        <div class="col-md-3">
          <button (click)="createAction()" class="btn btn-nc m-3 px-5 float-right">Add action</button>
        </div>
      </div>
      <div class="col-md-12 mb-3">
        <label>Filter by Action {{actionTableForm.value.filterTable}}</label>
        <input (input)="applyFilter()" aria-label="Filter"
               class="form-control"
               formControlName="filter"
               placeholder="Type filter string"
               type="text">
      </div>
      <table (matSortChange)="sortData()" [dataSource]="actionTableDS" mat-table matSort>
        <mat-radio-group (change)="applyFilter()" aria-label="Select an option" formControlName="filterTable">
          <ng-container matColumnDef="name-radio">
            <th *matHeaderCellDef mat-header-cell>
              <mat-radio-button value="name"></mat-radio-button>
            </th>
          </ng-container>
          <ng-container matColumnDef="key-radio">
            <th *matHeaderCellDef mat-header-cell>
              <mat-radio-button value="key"></mat-radio-button>
            </th>
          </ng-container>
          <ng-container matColumnDef="label-radio">
            <th *matHeaderCellDef mat-header-cell>Filter options</th>
          </ng-container>
        </mat-radio-group>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
          <td *matCellDef="let action" mat-cell> {{action.name}} </td>
        </ng-container>
        <ng-container matColumnDef="key">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Key</th>
          <td *matCellDef="let action" mat-cell> {{action.parameterKey?.key}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th *matHeaderCellDef mat-header-cell>Edit</th>
          <td *matCellDef="let action" mat-cell>
            <div class="example-flex-container">
              <button (click)="editAction(action)" aria-label="Icon button" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="['name-radio', 'key-radio', 'label-radio']" mat-header-row></tr>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" [matTooltip]="row.description" mat-row></tr>
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="7">No data matching the filter "{{actionTableForm.value.filter}}"</td>
        </tr>
      </table>
      <mat-paginator #paginator (page)="onPaginationChange($event)"
                     [length]="length"
                     [pageSizeOptions]="pageSizeOptions"
                     [pageSize]="pageSize" showFirstLastButtons>
      </mat-paginator>
    </div>
  </form>
</div>

<div *ngIf="editing || creation" class="row justify-content-md-center">
  <div class="mat-elevation-z8 col-md-6 bg-white">
    <h4 *ngIf="creation" class="header">Create action</h4>
    <h4 *ngIf="editing" class="header">Edit action</h4>
    <form [formGroup]="manageActionForm" class="" name="manageActionForm">
      <div class="mb-3">
        <label>Name of Action</label>
        <input [ngClass]="{'is-invalid' : manageActionForm.get('name').errors?.required,
             'is-valid' : !manageActionForm.get('name').errors?.required}"
               class="form-control"
               formControlName="name"
               placeholder="Type name for action">
        <div *ngIf="manageActionForm.get('name').errors?.required" class="invalid-feedback">
          Name is <strong>required</strong>!
        </div>
      </div>
      <div class="mb-3">
        <label>
          Key for Action
          <span class="text-muted">(Optional)</span>
        </label>
        <div formGroupName="parameterKey">
          <input (input)="onKeyInputChange()"
                 [matAutocomplete]="auto"
                 aria-label="Key"
                 class="form-control custom-select"
                 formControlName="key"
                 placeholder="Pick existing key or type new"
                 type="text">
        </div>
        <small *ngIf="manageActionForm.value.parameterKey.id === 0 && manageActionForm.value.parameterKey.key === ''"
               class="text-muted">
          Action will be without parameter key
        </small>
        <small *ngIf="manageActionForm.value.parameterKey.id === 0 && manageActionForm.value.parameterKey.key !== ''"
               class="text-muted">
          Will be created new parameter key
        </small>
        <small *ngIf="manageActionForm.value.parameterKey.id !== 0" class="text-muted">
          Will be used existing parameter key
        </small>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option (click)="this.manageActionForm.get('parameterKey.id').setValue( parameterKey.id)"
                      *ngFor="let parameterKey of parameterKeys"
                      [value]="parameterKey.key">
            {{parameterKey.key}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="mb-3">
        <label>Action type</label>
        <input (input)="onTypeInputChanges()"
               [matAutocomplete]="autoAction"
               [ngClass]="{'is-invalid' : manageActionForm.get('type').errors?.required
                  || manageActionForm.get('type').errors?.wrongType,
                  'is-valid' : !manageActionForm.get('type').errors?.required
                  && !manageActionForm.get('type').errors?.wrongType}"
               aria-label="Action type"
               class="form-control custom-select"
               formControlName="type"
               placeholder="Search and pick one action type from list"
               type="text">
        <div *ngIf="manageActionForm.get('type').errors?.wrongType || manageActionForm.get('type').errors?.required"
             class="invalid-feedback">
          Please pick one action type from list!
        </div>
        <mat-autocomplete #autoAction="matAutocomplete">
          <mat-option *ngFor="let type of filteredActionTypes" [value]="type">
            {{type}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="mb-3">
        <label>
          Description of Action
          <span class="text-muted">(Optional)</span>
        </label>
        <input class="form-control"
               formControlName="description"
               placeholder="Type description for action"
               type="text">
      </div>
      <hr class="mb-4">
      <button (click)="onSubmitButton()"
              [disabled]="manageActionForm.invalid"
              class="btn btn-nc px-5 py-3 animation"
              type="submit">
        <div *ngIf="editing">Edit</div>
        <div *ngIf="creation">Add</div>
      </button>
      <button (click)="cancelEdit()" class="btn btn-outline-danger m-3 px-5 py-3">Cancel</button>
    </form>
  </div>
</div>
