<div class="bg-white shadow-lg p-3">

  <div cdkDropListGroup class="row actions-container w-100">

    <div class="col-6 float-left">
      <h2>Compound's actions</h2>
      <div
        #compoundActionsList="cdkDropList"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="compoundActions"
        cdkDropList class="action-list">
        <div *ngFor="let action of compoundActions" cdkDrag class="action-box">{{action.action.name}}</div>
      </div>
    </div>

    <div class="col-6 float-left">
      <div class="example-container">
        <h2>List of actions</h2>
        <div
          #actionsAndCompounds="cdkDropList"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="actionsAsCompActions"
          cdkDropList class="action-list">
          <div *ngFor="let item of actionsAsCompActions" cdkDrag class="action-box">{{item.action.name}}</div>
        </div>
      </div>
    </div>

  </div>

</div>

