<div class="bg-white shadow-lg p-3">

  <div class="example-container">
    <h2 class="p-0 header m-3 px-3">Details of Test case</h2>
  </div>

  <div class="row w-100 m-3">
    <div class="col-8">
      <div class="panel">
        <div class="example-container">
          <p><span class="text-secondary text-shadow-gray mr-2">Name of test case:</span><span
            class="text-shadow-gray">{{testCase?.name}}</span></p>
          <p><span class="text-secondary text-shadow-gray mr-2">Creator:</span><span
            class="text-shadow-gray">{{testCase?.creator.name + ' ' + testCase?.creator.surname}}</span>
          </p>
          <p><span class="text-secondary text-shadow-gray mr-2">Starter:</span><span
            class="text-shadow-gray">{{testCase?.creator.name + ' ' + testCase?.creator.surname}}</span>
          </p>
        </div>

        <div *ngFor="let progress of tcProgress">
          <p><span class="text-secondary text-shadow-gray mr-2">Status:</span><span
            class="text-shadow-gray">{{progress.status}}</span>
          </p>
          <p><span class="text-secondary text-shadow-gray mr-2"> Completed: </span>
            <span class="text-shadow-gray">Test case completed in <b>{{progress.progress * 100}}%</b></span></p>
          <mat-progress-bar mode="determinate"
                            value="{{progress.progress*100}}"></mat-progress-bar>


        </div>
        <br/>

        <p><span class="text-secondary text-shadow-gray mr-2">Started:</span><span
          class="text-shadow-gray">{{testCase?.startDate}}</span>
        </p>
        <p><span class="text-secondary text-shadow-gray mr-2">Duration:</span><span
          class="text-shadow-gray"></span></p>
        <p><span class="text-secondary text-shadow-gray mr-2">Finished:</span><span
          class="text-shadow-gray">{{testCase?.finishDate}}</span>
        </p>

        <div class="btn-toolbar">
          <button class="btn btn-nc m-3 px-5 py-3"
                  [routerLink]="['testCase/', 'edit',activatedRoute.snapshot.paramMap.get('testCaseId')]"> Change
            dataset
          </button>
          <button class="btn btn-nc m-3 px-5 py-3" [routerLink]="['../../','report', testCase?.id]" [state]="testCase" [disabled]="tcProgress[0]?.progress != 1"> Send Report</button>
        </div>

        <br/>

        <div>
          <mat-table [dataSource]="dataSource" multiTemplateDataRows>

            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnToDisplay">
              <th mat-header-cell *matHeaderCellDef style="width: 45%;"> {{column}} </th>
              <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="columnToDisplay.length">
                <div class="example-element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <div class="example-element-diagram">
                    {{element.actionName + ' have a result: ' + element.result}}
                  </div>

                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnToDisplay;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </mat-table>

          <mat-paginator class="float-left" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </div>

      </div>
    </div>

    <div class="col-4">
      <div class="panel">
        <p><span class="text-secondary text-shadow-gray mr-2">Name of project:</span><span
          class="text-shadow-gray" [routerLink]="['/testCase/list',testCase?.id]">{{testCase?.project.name}}</span></p>
        <p><span class="text-secondary text-shadow-gray mr-2">Link:</span><span
          class="text-shadow-gray"> {{testCase?.project.link}} </span></p>

        <p class="text-secondary text-shadow-gray mr-2"> Watchers: </p>

        <div class="list list-row block">
          <ng-container *ngFor="let watcher of testCase?.watchers">
            <div class="list-item" data-id="1">
              <div class="project-people">
                <a href="" data-abc="true"><span><img alt="image" class="img-circle"
                                                      src="{{watcher.imageLink}}"></span><span><a> {{watcher.name + ' ' + watcher.surname}}</a></span></a>
              </div>
            </div>
            <br/>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
