<div>
    <div class="bg-white shadow-lg px-5 py-2">
      <nav mat-tab-nav-bar>
        <h4 class="p-0 mt-2" style="font-family: Roboto; font-weight: 400; color: rgba(0,0,0,.65);">{{projectName}}</h4>
        <a mat-tab-link [routerLink]="['/testScenarios',router.snapshot.paramMap.get('projectId')]">Test Scenarios</a>
        <a mat-tab-link [routerLink]="['/testCase/list',router.snapshot.paramMap.get('projectId')]" [active]="true">Test Cases</a>
        <a mat-tab-link [routerLink]="['/testCase/runningList',router.snapshot.paramMap.get('projectId')]">Running Test Cases</a>
        <a mat-tab-link [routerLink]="['/testCase/history',router.snapshot.paramMap.get('projectId')]">History Test Cases</a>
      </nav>

          <div class="example-container">
                <h2 class="p-0 header mt-3">List of test case</h2>
              </div>
              <div cdkDropListGroup class="row actions-container w-100 p-0 m-0">


                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <input type="text" class="form-control mt-4" style="width:300px" #input (keyup)="applyFilter($event)"
                          placeholder="Search by name...">
                    </div>
                  </div>
                  <div class="col-6">
                      <a  [routerLink]="['/testScenarios',router.snapshot.paramMap.get('projectId')]" class="btn btn-nc mt-4 ml-5 px-3"
                         style="background-color: #0275B1;  color: white">New</a>
                      <button (click)="run()" class="btn btn-nc mt-4 ml-4 px-3"
                              style="background-color: #0275B1;  color: white"> Run
                      </button>
                      <button (click)="delete()" class="btn btn-nc mt-4 ml-4 px-3"
                              style="background-color: #f44336;  color: white"> Delete
                      </button>
                  </div>
                </div>

                <table mat-table [dataSource]="dataSource" class="float-left" matSort (matSortChange)="sortData()" multiTemplateDataRows>
                  <ng-container matColumnDef="id">
                    <th *matHeaderCellDef [hidden]="true" mat-header-cell></th>
                    <td *matCellDef="let element" [hidden]="true" mat-cell><p>{{element.id}}</p></td>
                  </ng-container>

                  <ng-container  matColumnDef="select">
                    <th style="padding-top: 0.5%; width: 5%;" *matHeaderCellDef mat-header-cell>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [aria-label]="checkboxLabel()"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    class="w3-margin-left">
                      </mat-checkbox>
                    </th>
                    <td style="padding-top: 0.5%;" *matCellDef="let row" mat-cell>
                      <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                                    (click)="$event.stopPropagation()"
                                    [aria-label]="checkboxLabel(row)"
                                    [checked]="selection.isSelected(row)"
                                    class="w3-margin-left">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th style="width: 20%;" *matHeaderCellDef mat-header-cell mat-sort-header> Name </th>
                    <td  class="w3-link w3-text-blue" style="max-width:100px; cursor: pointer;"  *matCellDef="let element;let i = index;" [matTooltip]="element.description" mat-cell>
                      <a  [routerLink]="['/testCase/edit/',element.id]"  [hidden]="element.edit">{{element.name}}</a>

                      <div [hidden]="!element.edit" style="width: 95%">
                        <mat-form-field>
                          <mat-label>Edit</mat-label>
                          <input #inputName (change)="updateProperty(element.id, inputName.value,'name')" [value]="element.name" matInput
                                 placeholder="Element name">
                        </mat-form-field>
                      </div>
                    </td>
                  </ng-container>


                  <ng-container matColumnDef="creator">
                    <th style="width: 15%;" *matHeaderCellDef mat-header-cell mat-sort-header>Creator</th>
                    <td *matCellDef="let element" mat-cell> {{element.user.name + ' ' + element.user.surname}} </td>
                  </ng-container>

                  <ng-container matColumnDef="creationDate">
                    <th style="width: 18%;" *matHeaderCellDef mat-header-cell mat-sort-header>Create</th>
                    <td *matCellDef="let element" mat-cell> {{element.creationDate | date:"dd-MM-yyyy HH:mm"}} </td>
                  </ng-container>

                  <ng-container matColumnDef="iterationsAmount">
                    <th [hidden]="true" style="width: 8%;" *matHeaderCellDef mat-header-cell mat-sort-header> Iterations</th>
                    <td [hidden]="true" style="padding-left: 2%; padding-top: 1%; max-width:35px; " *matCellDef="let element; let i = index;" mat-cell>
                      <p [hidden]="element.edit">{{element.iterationsAmount}}</p>

                      <div [hidden]="!element.edit" style="width: 70%">
                        <mat-form-field>
                          <mat-label>Edit</mat-label>
                          <input #inputIterations  type="number" min="0" (change)="updateProperty(element.id, inputIterations.value, 'iterationsAmount')" [value]="element.iterationsAmount" matInput
                                 placeholder="Element iterationsAmount">
                        </mat-form-field>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="recurringTime">
                    <th [hidden]="true" style="width: 11%;" *matHeaderCellDef mat-header-cell mat-sort-header> Recurring time</th>
                    <td [hidden]="true" style="padding-left: 1%; padding-top: 1%; max-width:35px;" *matCellDef="let element;" mat-cell>
                      <p [hidden]="element.edit">{{element.recurringTime}}</p>

                      <div [hidden]="!element.edit" style="width: 85%;">
                        <mat-form-field style="color: #0275B1; max-height: 100px;">
                          <mat-label>Select an option</mat-label>
                          <mat-select style="color: #0275B1;" [(value)]="element.recurringTime">
                            <mat-option  style="height:20px;" *ngFor="let rectime of rectimes" [value]="rectime.value" >{{rectime.viewValue}} </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="watcherNumb">
                    <th mat-header-cell style="width: 12%;" *matHeaderCellDef>Watcher</th>
                    <td mat-cell *matCellDef="let element" style="cursor: pointer; font-style: italic;"
                    (click)="reloadWatchers(element.id);  openDetails(element.id);"
                    [ngStyle]="{'color': element.watcherNumb===0 ? '#ff6666' : 'rgba(0,0,0,.87)'}"> List of {{element.watcherNumb}} </td>
                  </ng-container>

                  <ng-container matColumnDef="startDate">
                    <th  style="width: 17%;" *matHeaderCellDef mat-header-cell mat-sort-header>Start</th>
                    <td  *matCellDef="let element; let i = index;" style="padding-top: 1%;" mat-cell>
                      <p [hidden]="element.edit">{{element.startDate | date:'dd-MM-yyyy HH:mm'}}</p>

                      <div [hidden]="!element.edit" style="width: 95%">
                        <mat-form-field>
                          <mat-label>Edit</mat-label>
                          <input matInput #inputStartDate type="datetime-local" value="element.startDate" min="{{minDate}}" placeholder="Choose a date"
                          (change)="updateStartDate(element.id, inputStartDate.value) ?  '' : openSnackBar('Time can`t be in past!','error', '');" >
                        </mat-form-field>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th style="width: 15%;" *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
                    <td *matCellDef="let element" mat-cell [ngStyle]="{'color': element.status==='UNKNOWN' ? '#ff6666' : '#00cc00'}"> {{element.status}} </td>
                  </ng-container>

                  <ng-container matColumnDef="editBtn">
                    <th style="width: 10%;" style="padding-left: 1%; max-width:15px;" *matHeaderCellDef mat-header-cell> Edit</th>
                    <td *matCellDef="let element; let i = index;" mat-cell>
                      <button (click)="change(element.id)"
                              class="w3-button w3-large w3-circle w3-xlarge w3-ripple w3-white w3-color-blue w3-hover-white"><i class="fa fa-pencil"></i></button>
                    </td>
                  </ng-container>

                  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                  <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="10">

                      <div style="display:block;" class="example-element-detail"
                           [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'">
                             <p >List of wachers</p>
                        <table mat-table [dataSource]="dataSource2" style="width: 50%; float:left;">

                          <!-- Position Column -->
                          <ng-container matColumnDef="user_id">
                            <th mat-header-cell *matHeaderCellDef style="width: 15%;" [hidden]="true" > ID </th>
                            <td mat-cell *matCellDef="let element2" [hidden]="true"> {{element2.user_id}} </td>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef style="width: 30%;"> Name </th>
                            <td mat-cell *matCellDef="let element2"> {{element2.name}} </td>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="surname">
                            <th mat-header-cell *matHeaderCellDef style="width: 35%;"> Surname </th>
                            <td mat-cell *matCellDef="let element2"> {{element2.surname}} </td>
                          </ng-container>

                          <!-- Symbol Column -->
                          <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef style="width: 2%;"> Role </th>
                            <td mat-cell *matCellDef="let element2"> {{element2.role}} </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                          <tr mat-row *matRowDef="let row2; columns: displayedColumns2;"></tr>
                          <tr *matNoDataRow class="mat-row">
                            <td class="mat-cell" colspan="8">No user has been assigned as a watcher for this test case</td>
                          </tr>
                        </table>

                         <mat-form-field id="mat-autocomplete-height"  class="example-full-width  float-left ml-5" style="width: 32%;">

                            <input matInput #inputName [(ngModel)]="inputName.value" (keyup)="reloadUsers(inputName.value)" placeholder="Search watcher" [matAutocomplete]="auto" [formControl]="watchersCtrl">

                            <mat-autocomplete class="mat-autocomplete-height" #auto="matAutocomplete">
                              <mat-option *ngFor="let watcher of filteredWatchers | async" [value]="watcher.name+' '+watcher.surname"
                              (onSelectionChange)="updateUserID(watcher.userId)" style="max-height: 35px;">

                                <span>{{watcher.name}} {{watcher.surname}}</span>
                                <small> [{{watcher.role}}]</small>

                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                          <a  class="btn btn-nc ml-3 px-3" color='primary'
                             style="background-color: #0275B1;"
                             (click)="addWatcher(element.id) ? openSnackBar('This user has been assigned as a watcher!','success', '')
                             : openSnackBar('This user is already assigned or does not exist!','error', ''); showDetail(element.id);">Add</a>

                      </div>
                    </td>
                  </ng-container>


                  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                    class="example-element-row"
                    [class.example-expanded-row]="element.expanded">
                  </tr>

                  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                  <tr *matNoDataRow class="mat-row">
                    <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>
              </div>
              <mat-paginator (page)="onPaginationChange($event)"
                             [length]="length"
                             [pageSizeOptions]="pageSizeOptions"
                             [pageSize]="pageSize" showFirstLastButtons>
              </mat-paginator>

    </div>
</div>
