<div class="mr-5">
    <div class="bg-white shadow-lg px-5 py-2">
      <nav mat-tab-nav-bar [backgroundColor]="background">
        <a mat-tab-link [routerLink]="['../list']">Test Scenarios</a>
        <a mat-tab-link [routerLink]="['../list']" [active]="true">Test Cases</a>
        <a mat-tab-link [routerLink]="['../runningList']">Running Test Cases</a>
        <a mat-tab-link [routerLink]="['../runningList']">History Test Cases</a>
      </nav>

          <div class="example-container">
                <h2 class="p-0">List of test case</h2>
              </div>
              <div cdkDropListGroup class="row actions-container w-100 p-0 m-0">


                <div class="row">
                  <div class="col-5">
                    <div class="form-group">
                      <label for="input">Find test case:</label>
                      <input class="form-control float-left col-4 input-sm" id="input" type="text" #input (keyup)="applyFilter($event)"
                         matInput placeholder="Search by name...">
                    </div>
                  </div>
                  <div class="col-7">
                      <a  class="btn btn-nc m-3 px-3"
                         style="background-color: #0275B1; margin-top: 10px; color: white">New</a>
                      <button [routerLink]="['/createProject']" class="btn btn-nc m-3 px-3"
                              style="background-color: #0275B1; margin-top: 10px; color: white"> Run
                      </button>
                      <button (click)="delete()" class="btn btn-nc m-3 px-3"
                              style="background-color: #f44336; margin-top: 10px; color: white"> Delete
                      </button>
                  </div>
                </div>

                <table mat-table [dataSource]="dataSource" class="float-left" matSort (matSortChange)="sortData()">
                  <ng-container matColumnDef="id">
                    <th *matHeaderCellDef [hidden]="true" mat-header-cell></th>
                    <td *matCellDef="let element" [hidden]="true" mat-cell><p>{{element.id}}</p></td>
                  </ng-container>

                  <ng-container  matColumnDef="select">
                    <th style="padding-top: 1%; width: 7%;" *matHeaderCellDef mat-header-cell>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [aria-label]="checkboxLabel()"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    class="w3-margin-left">
                      </mat-checkbox>
                    </th>
                    <td style="padding-top: 1%;" *matCellDef="let row" mat-cell>
                      <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                                    (click)="$event.stopPropagation()"
                                    [aria-label]="checkboxLabel(row)"
                                    [checked]="selection.isSelected(row)"
                                    class="w3-margin-left">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th style="width: 15%;" *matHeaderCellDef mat-header-cell mat-sort-header> Name </th>
                    <td class="w3-link w3-text-blue" style="max-width:100px; cursor: pointer;"  *matCellDef="let element;let i = index;" [matTooltip]="element.description" mat-cell>
                      <a (click)="change(i)" [hidden]="element.edit">{{element.name}}</a>

                      <div [hidden]="!element.edit" style="width: 100%">
                        <mat-form-field>
                          <mat-label>Edit</mat-label>
                          <input #inputName (change)="updateName(i, inputName.value)" [value]="element.name" matInput
                                 placeholder="Element name">
                        </mat-form-field>
                      </div>
                    </td>
                  </ng-container>


                  <ng-container matColumnDef="creator">
                    <th style="width: 10%;" *matHeaderCellDef mat-header-cell mat-sort-header>Creator</th>
                    <td *matCellDef="let element" mat-cell> User{{element.creator}} </td>
                  </ng-container>

                  <ng-container matColumnDef="creationDate">
                    <th style="width: 10%;" *matHeaderCellDef mat-header-cell mat-sort-header>Create</th>
                    <td *matCellDef="let element" mat-cell> {{element.creationDate | date:"dd-MM-yyyy"}} </td>
                  </ng-container>

                  <ng-container matColumnDef="iterationsAmount">
                    <th style="width: 8%;" *matHeaderCellDef mat-header-cell mat-sort-header> Iterations</th>
                    <td style="padding-left: 2%; padding-top: 2%; max-width:35px;" *matCellDef="let element; let i = index;" mat-cell>
                      <p [hidden]="element.edit">{{element.iterationsAmount}}</p>

                      <div [hidden]="!element.edit" style="width: 70%">
                        <mat-form-field>
                          <mat-label>Edit</mat-label>
                          <input #inputIterations  type="number" min="0" (change)="updateIterations(i, inputIterations.value)" [value]="element.iterationsAmount" matInput
                                 placeholder="Element iterationsAmount">
                        </mat-form-field>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="recurringTime">
                    <th style="width: 12%;" *matHeaderCellDef mat-header-cell mat-sort-header> Recurring time</th>
                    <td style="padding-left: 2%; padding-top: 2%; max-width:35px;" *matCellDef="let element; let i = index;" mat-cell>
                      <p [hidden]="element.edit">{{element.recurringTime}}</p>

                      <div [hidden]="!element.edit" style="width: 85%;">
                        <mat-form-field style="color: #0275B1; max-height: 100px;">
                          <mat-label>Select an option</mat-label>
                          <mat-select style="color: #0275B1;" [(value)]="element.recurringTime">
                            <mat-option  style="height:20px;" *ngFor="let rectime of rectimes" [value]="rectime.value" >{{rectime.viewValue}} </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="startDate">
                    <th style="width: 20%;" *matHeaderCellDef mat-header-cell mat-sort-header>Start</th>
                    <td *matCellDef="let element; let i = index;" style="padding-top: 2%;" mat-cell>
                      <p [hidden]="element.edit">{{element.startDate | date:"dd-MM-yyyy HH:mm"}}</p>

                      <div [hidden]="!element.edit" style="width: 95%">
                        <mat-form-field>
                          <mat-label>Edit</mat-label>
                          <input matInput #inputStartDate type="datetime-local"  pattern="\d{1,2}-\d{1,2}-\d{4}" value="element.startDate" min="{{minDate}}" placeholder="Choose a date"
                          (change)="updateStartTime(i, inputStartDate.value)" >
                        </mat-form-field>
                      </div>
                    </td>
                  </ng-container>



                  <ng-container matColumnDef="status">
                    <th style="width: 12%;" *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
                    <td *matCellDef="let element" mat-cell [ngStyle]="{'color': element.status==='UNKNOWN' ? '#ff6666' : '#00cc00'}"> {{element.status}} </td>
                  </ng-container>

                  <ng-container matColumnDef="editBtn">
                    <th style="width: 10%;" style="padding-left: 1.5%; max-width:15px;" *matHeaderCellDef mat-header-cell> Edit</th>
                    <td *matCellDef="let element; let i = index;" mat-cell>
                      <button (click)="change(i)"
                              class="w3-button w3-large w3-circle w3-xlarge w3-ripple w3-white w3-color-blue w3-hover-white"><i class="fa fa-pencil" style="color: #0275B1;"></i></button>
                    </td>
                  </ng-container>


                  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                  <tr *matRowDef="let row; columns: displayedColumns;"  mat-row></tr>

                  <tr *matNoDataRow class="mat-row">
                    <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>
              </div>
              <mat-paginator (page)="onPaginationChange($event)"
                             [length]="length"
                             [pageSizeOptions]="pageSizeOptions"
                             [pageSize]="pageSize" showFirstLastButtons>
              </mat-paginator>

    </div>
</div>
