.nav-nc{
  transition-duration: 0.5s;
}
.nav-nc:hover{
  background-color: #005793;
  color: white;
  transition-duration: 0.5s;
}
.close-red{
  transition-duration: 0.25s;
}
.close-red:hover{
  color: orangered;
  transition-duration: 0.25s;
}
.profile-pic{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
::ng-deep .mat-progress-bar-fill::after {
  background: #1CEDD4;
}
::ng-deep .mat-progress-bar-buffer {
  background: #3B958A;
}
