<div class="form">
  <p class="header">List of users</p>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="user_id">
        <th [hidden]="true" mat-header-cell *matHeaderCellDef></th>
        <td [hidden]="true" mat-cell *matCellDef="let element"><p>{{element.user_id}}</p></td>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th  mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element;">
          <p [hidden]="element.edit">{{element.name}}</p>

          <div [hidden]="!element.edit" style="width: 75%">
            <mat-form-field>
              <mat-label>Edit</mat-label>
              <input #inputName matInput placeholder="Element name" [value]="element.name" (change)="updateName(element.user_id, inputName.value)">
            </mat-form-field>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Surname </th>
        <td mat-cell *matCellDef="let element;">
          <p [hidden]="element.edit">{{element.surname}}</p>

          <div [hidden]="!element.edit" style="width: 75%">
            <mat-form-field>
              <mat-label>Edit</mat-label>
              <input #inputLink matInput placeholder="Element link" [value]="element.surname" (change)="updateSurname(element.user_id, inputLink.value)">
            </mat-form-field>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element;">
          <p [hidden]="element.edit">{{element.email}}</p>

          <div [hidden]="!element.edit" style="width: 75%">
            <mat-form-field>
              <mat-label>Edit</mat-label>
              <input #inputEmail matInput placeholder="Element link" [value]="element.email" (change)="updateEmail(element.user_id, inputEmail.value)">
            </mat-form-field>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <ng-container matColumnDef="activated">
        <th mat-header-cell *matHeaderCellDef> Activated </th>
        <td mat-cell *matCellDef="let element"> {{element.activated ?  'Deactivated': 'Activated'}} </td>
      </ng-container>

      <ng-container matColumnDef="editBtn">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element;">
          <button class="w3-button w3-large w3-circle w3-xlarge w3-ripple w3-white w3-hover-white" (click)="change(element.user_id)"><i class="fa fa-pencil"></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
<!--          (click)="selection.toggle(row)">-->
      </tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

  <mat-paginator [pageSizeOptions]="pageSizeOptions"
                 [length]="length"
                 [pageSize]="pageSize"
                 (page)="onPaginationChange($event)" showFirstLastButtons>
  </mat-paginator>

  <div class="w3-bar">
    <a [routerLink]="['/createUser']" class="w3-button w3-round-xlarge w3-left" style="background-color: #0275B1; margin-top: 10px; color: white">+Add</a>
    <button class="w3-button w3-round-xlarge w3-right" style="background-color: #0275B1; margin-top: 10px; color: white" (click)="activate()">Activate</button>
  </div>
</div>
