<div class="form" *ngIf="hasSerchingPermission">
  <p class="header">List of users</p>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput placeholder="Search">
  </mat-form-field>


  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
    <ng-container matColumnDef="user_id">
      <th *matHeaderCellDef [hidden]="true" mat-header-cell></th>
      <td *matCellDef="let element" [hidden]="true" mat-cell><p>{{element.user_id}}</p></td>
    </ng-container>

    <ng-container matColumnDef="select">
      <th *matHeaderCellDef mat-header-cell>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [aria-label]="checkboxLabel()"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      class="w3-margin-left">
        </mat-checkbox>
      </th>
      <td *matCellDef="let row" mat-cell>
        <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                      (click)="$event.stopPropagation()"
                      [aria-label]="checkboxLabel(row)"
                      [checked]="selection.isSelected(row)"
                      class="w3-margin-left">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell (click)="sortData('name')"> Name </th>
      <td *matCellDef="let element;let i = index;" mat-cell>
        <p [hidden]="element.edit">{{element.name}}</p>

        <div [hidden]="!element.edit" style="width: 75%">
          <mat-form-field>
            <mat-label>Edit</mat-label>
            <input #inputName (change)="updateName(i, inputName.value)" [value]="element.name" matInput
                   placeholder="Element name">
          </mat-form-field>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th *matHeaderCellDef mat-header-cell (click)="sortData('surname')"> Surname</th>
      <td *matCellDef="let element; let i = index;" mat-cell>
        <p [hidden]="element.edit">{{element.surname}}</p>

        <div [hidden]="!element.edit" style="width: 75%">
          <mat-form-field>
            <mat-label>Edit</mat-label>
            <input #inputLink (change)="updateSurname(i, inputLink.value)" [value]="element.surname" matInput
                   placeholder="Element link">
          </mat-form-field>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell (click)="sortData('email')"> Email</th>
      <td *matCellDef="let element;" mat-cell>
        <p [hidden]="element.edit">{{element.email}}</p>

        <div [hidden]="!element.edit" style="width: 75%">
          <mat-form-field>
            <mat-label>Edit</mat-label>
            <input #inputEmail (change)="updateEmail(element.user_id, inputEmail.value)" [value]="element.email" matInput
                   placeholder="Element link">
          </mat-form-field>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th *matHeaderCellDef mat-header-cell (click)="sortData('role')"> Role</th>
      <td *matCellDef="let element" mat-cell> {{element.role}} </td>
    </ng-container>

    <ng-container matColumnDef="activated">
      <th *matHeaderCellDef mat-header-cell> Activated</th>
      <td *matCellDef="let element" mat-cell> {{element.activated ? 'Activated' : 'Deactivated'}} </td>
    </ng-container>

    <ng-container matColumnDef="editBtn">
      <th *matHeaderCellDef mat-header-cell> Edit</th>
      <td *matCellDef="let element; let i = index;" mat-cell>
        <button (click)="change(i)"
                class="w3-button w3-large w3-circle w3-xlarge w3-ripple w3-white w3-hover-white"><i class="fa fa-pencil"></i></button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row>
<!--                (click)="selection.toggle(row)">-->
    </tr>

    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator (page)="onPaginationChange($event)"
                 [length]="length"
                 [pageSizeOptions]="pageSizeOptions"
                 [pageSize]="pageSize" showFirstLastButtons>
  </mat-paginator>

  <div class="w3-bar">
    <a [routerLink]="['/createUser']" class="w3-button w3-round-xlarge w3-left"
       style="background-color: #0275B1; margin-top: 10px; color: white">+Add</a>
    <button (click)="activate()" class="w3-button w3-round-xlarge w3-right"
            style="background-color: #0275B1; margin-top: 10px; color: white">Activate
    </button>
  </div>
</div>
