h2 {
  font-family: Roboto;
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #0275B1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 15px;
  margin-left: 35px;
}

h3 {
  font-family: Roboto;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #0275B1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 300px;
  height: 3%;
  margin-left: 4%;
}

.mat-form-field {
  font-size: 12px;
  width: 100%;
}

svg{
  width: 85%;
  height: 2.24px;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.create-edit-compound {
  position: absolute;
  width: 70%;
  height: 100%;
  left: 25%;
  top: 10%;
}

.basic-container {
  padding: 30px;
}

.example-container {
  overflow: auto;
}

.example-container2 {
  overflow: auto;
}

.listOfCompound {
    width: 90%;
    display: inline-block;
    margin-left: 6%;
}

#tableCompound {
  overflow: auto;
}

table {
  width: 100%;
  overflow: auto;
}

#tdTable {
    text-align: center;
}

#trHeadTable2 {
    height: 30px;
}

#trRowTable2 {
    height: 30px;
}

#butStyleDelete {
  font-family: Roboto;
  font-style: normal;
  font-weight: 1000;
  font-size: 32px;
  font-weight: 900;
  line-height: 1%;
  margin-left: 30%;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #0275B1;
  cursor: pointer;
}

#butStylePlus {
  font-family: Roboto;
  font-style: normal;
  font-weight: 1000;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  line-height: 30px;
  margin-left: 30%;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #0275B1;
}

section {
  display: table;
  width: 100%;
  margin-top: 8%;
  margin-left: 5%;
}

#btnTable2Save {
  width: 20%;
  height: 15%;
  margin-left: 75%;
  margin-top: 3%;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

::ng-deep snack-bar-container simple-snack-bar .mat-simple-snackbar-action {
  color: #3f51b5;
}
