<div class="row">
  <div class="col-8">
    <div *ngIf="isError" class="alert alert-danger alert-dismissible fade show" role="alert">
      Please, make sure to fill all the fields
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="bg-white shadow-lg p-3">
      <h2 class="color-nc font-italic font-weight-bold">Test Scenario</h2>

        <div [formGroup]="scenarioForm">
          <label class="m-3 color-nc font-weight-bold"> Name
            <input [@invalidForm]="scenarioForm.controls.name.invalid ? 'invalid': ''"
                   [attr.disabled]="!creating ? '' : null" type="text" class="form-control"
                   formControlName="name" [ngModel]="scenario?.name">
          </label>
          <label class="m-3 color-nc font-weight-bold"> Description
            <input [@invalidForm]="scenarioForm.controls.description.invalid ? 'invalid': ''"
                   [attr.disabled]="!creating ? '' : null" type="text"
                   class="form-control" formControlName="description" [ngModel]="scenario?.description">
          </label>
        </div>

      <div cdkDropListGroup class="row actions-container w-100">

        <div class="col-6 float-left">
          <h2 class="color-nc font-italic font-weight-bold">Set of Test Scenario</h2>
          <div [@invalidForm]="emptyInvalid ? 'invalid': ''"
               cdkDropList [id]="'cdk-drop-list-0'"
               [cdkDropListData]="scenarioActions"
               class="action-list" (cdkDropListDropped)="drop($event)">
            <div class="action-box"
                 [ngClass]="{ pointer: !creating }"
                 [class]="action.action.type === 'COMPOUND' ? 'border border-success' : ''"
                 *ngFor="let action of scenarioActions"
                 [cdkDragDisabled]="!creating"
                 (click)="showActionDetails(action)" cdkDrag>
              {{action.action.name}}
            </div>
          </div>
        </div>

        <div class="col-6 float-left">
          <div class="example-container">
            <h2 class="color-nc font-italic font-weight-bold" *ngIf="!nameSearch">Library</h2>
<!--            <input #search id="search" type="text" class="form-control form-control-lg" placeholder="Search by name...">-->
            <br/>
            <div cdkDropList [id]="'cdk-drop-list-1'"
                 [cdkDropListData]="actionsAsCompActions"
                 class="action-list" (cdkDropListDropped)="drop($event)">

              <div class="action-box"
                   [class]="item.action.type === 'COMPOUND' ? 'border border-success' : ''"
                   *ngFor="let item of actionsAsCompActions" (click)="showActionDetails(item)" cdkDrag>
                {{item.action.name}}
              </div>

            </div>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" pageSize="{{size}}" length="{{actions.size}}"
                           (page)="pageParamsChange($event)" showFirstLastButtons></mat-paginator>
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-nc m-3 px-5 py-3 animation"
              (click)="submit()">{{creating ? 'Create' : 'Save'}}</button>
      <button class="btn btn-outline-danger m-3 px-5 py-3" data-toggle="modal" data-target="discardModal"
              (click)="modalShow()"> Discard </button>
    </div>
  </div>

  <div class="col mr-5">
    <div *ngIf="!!selectedAction" class="bg-white shadow-lg p-3">
      <h1><strong class="color-nc">Name: </strong><a role="button"
        (click)="navToCompound(selectedAction.action)">{{selectedAction.action.name}}</a></h1>
<!--      <h3><strong class="color-nc">Key: </strong> {{selectedAction.parameterKey.key}}</h3>-->
      <h3 class="color-nc">Description: </h3>
      <h4>{{selectedAction.action.description}}</h4>
    </div>
  </div>
</div>
