<div *ngIf="errorMessage !== ''" class="alert alert-danger alert-dismissible fade show" role="alert">
  {{errorMessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeErrorAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="okMessage !== ''" class="alert alert-success alert-dismissible fade show" role="alert">
  {{okMessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeOkAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="!editing && !creation">
  <form [formGroup]="dataSetTableForm" name="dataSetTableForm">
    <div class="mat-elevation-z8">
      <div class="row">
        <div class="col-md-9">
          <h4 class="header">List of data set</h4>
        </div>
        <div class="col-md-3">
          <button (click)="createDataSet()" class="btn btn-primary btn-lg btn-block">Add data set</button>
        </div>
      </div>
      <div class="col-md-12">
        <div class="mb-3">
          <label>Filter</label>
          <input (input)="applyFilter()"
                 aria-label="Filter"
                 class="form-control"
                 formControlName="filter"
                 placeholder="Filter by Dataset name"
                 type="text">
        </div>
      </div>
      <table (matSortChange)="sortData()" [dataSource]="dataSource" mat-table matSort>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            <h4>Dataset name</h4>
          </th>
          <td *matCellDef="let dataSet" mat-cell> {{dataSet.name}} </td>
        </ng-container>
        <ng-container matColumnDef="role">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            <h4>Creator role</h4>
          </th>
          <td *matCellDef="let dataSet" mat-cell> {{dataSet.createdByRole}} </td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            <h4>Name</h4>
          </th>
          <td *matCellDef="let dataSet" mat-cell> {{dataSet.createdByName}} </td>
        </ng-container>
        <ng-container matColumnDef="surname">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            <h4>Surname</h4>
          </th>
          <td *matCellDef="let dataSet" mat-cell> {{dataSet.createdBySurname}} </td>
        </ng-container>
        <ng-container matColumnDef="details">
          <th *matHeaderCellDef mat-header-cell>
            <h4>Details</h4>
          </th>
          <td *matCellDef="let dataSet" mat-cell>
            <div class="example-flex-container">
              <button (click)="openDetails(dataSet)" aria-label="Icon button" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th *matHeaderCellDef mat-header-cell>
            <h4>Edit</h4>
          </th>
          <td *matCellDef="let dataSet" mat-cell>
            <div class="example-flex-container">
              <button (click)="editDataSet(dataSet)" aria-label="Icon button" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th *matHeaderCellDef mat-header-cell>
            <h4>Delete</h4>
          </th>
          <td *matCellDef="let dataSet" mat-cell>
            <div class="example-flex-container">
              <button (click)="deleteDataSet(dataSet)" aria-label="Icon button" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" [matTooltip]="row.description" mat-row></tr>
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="7">No data matching the filter "{{dataSetTableForm.value.filter}}"</td>
        </tr>
      </table>
      <mat-paginator #paginator (page)="onPaginationChange($event)"
                     [length]="length"
                     [pageSizeOptions]="pageSizeOptions"
                     [pageSize]="pageSize" showFirstLastButtons>
      </mat-paginator>
    </div>
  </form>
</div>
<div *ngIf="editing || creation">
  <div class="mat-elevation-z8">
    <h4 *ngIf="creation" class="header">Create data set</h4>
    <h4 *ngIf="editing" class="header">Edit data set</h4>
    <form [formGroup]="manageDataSetForm" class="create-action-form" name="manageDataSetForm">
      <div class="mb-3">
        <label>Name of Data Set</label>
        <input [ngClass]="{'is-invalid' : manageDataSetForm.get('name').errors?.required,
                'is-valid' : !manageDataSetForm.get('name').errors?.required}"
               class="form-control"
               formControlName="name"
               placeholder="Type name for data set">
        <div *ngIf="manageDataSetForm.get('name').errors?.required" class="invalid-feedback">
          Name is <strong>required</strong>!
        </div>
      </div>
      <div class="mb-3">
        <label>
          Description of Data Set
          <span class="text-muted">(Optional)</span>
        </label>
        <input class="form-control"
               formControlName="description"
               placeholder="Type description for data set"
               type="text">
      </div>
      <hr class="mb-4">
      <div class="row">
        <div class="col-md-4">
          <button (click)="onSubmitButton()"
                  [disabled]="manageDataSetForm.invalid"
                  class="btn btn-primary btn-lg btn-block"
                  type="submit">
            <div *ngIf="editing">Edit</div>
            <div *ngIf="creation">Add</div>
          </button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button (click)="cancelEdit()" class="btn btn-danger btn-lg btn-block">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
